body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,hr,ul,ol,td,input,option,textarea{
	margin:0;
	padding:0;
}
// html{
//     font-size: 26.67vw;
// }
body{
    font-family: "微软雅黑";
    font-size: 16px;
}
li{
	list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
img{
	border: none;
}
input{
    outline: none;
}



// 导航栏  header 

.header{
    width: 1190px;
    height: 85px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    .logo{
        display: block;
        width: 85px;
        height: 26px;
        padding-left: 30px;
    }
    .nav {
        height: 85px;
        display: flex;
        margin-left: 40px;
        .navOne{
            height: 85px;
            font-size: 14px;
            line-height: 85px;
            padding: 0 25px;
            color: #333333;
            font-weight: 700;
            text-align: center;
            box-sizing: border-box;
            z-index: 100;
            .wisdom{
                margin-left: -25px;
                background:  rgb(241, 232, 232);
                font-weight: 400;
                display: none;
                position: relative;
                b{
                    font-weight: 100;
                    color: black;
                }
                .wis_one{
                    width: 240px;
                    height: 160px;
                    background-color: white;
                    position: absolute;
                    top: 85px;
                    right: 347px;;
                    z-index: 10;
                    display: none;
                    a{
                        display: inline-block;
                        width: 116px;
                        font-size: 12px;
                        height: 16px;
                        text-align: left;
                        line-height: 16px;
                        text-indent: 25px;
                    }
                    .wis_one_one{
                        display: block;
                        margin-top: 20px;
                    }
                    .wis_one_two{
                        text-align: left;
                        width: 75px;
                    }
                    a:hover{
                        color: blue;
                    }

                }
                li{
                    line-height: 40px;
                    text-align: center;
                }
                li:hover b{
                    color:blue;
                }
                li:hover{
                    background-color: white;
                }
                li:hover .wis_one{
                    display: block;
                }
                .wis_two{
                    position: absolute;
                    top: 1px;
                    left: 123px;
                    width: 540px;
                    height: 400px;
                    background-color: white;
                    color: black;
                    text-align: left;
                    display: none;
                    .wis_two_one{
                        display: block;
                        color: blue;
                        text-align: left;
                        padding-left: 50px;
                    }
                    .wis_two_two{
                        display: inline-block;
                        width: 130px;
                        height: 30px;
                        font-size: 12px;
                        text-align: center;
                    }
                    img{
                        display: block;
                        position: absolute;
                        top: 220px;
                        left: 70px;
                    }
                    a:hover{
                        color: blue;
                    }
                    .wis_box{
                        width: 200px;
                        height: 100px;
                        position: absolute;
                        top: 250px;
                        left: 320px;
                        margin: 0 auto;
                        h2{
                            text-align: center;
                            line-height: 40px;
                        }
                        p{
                            text-align: center;
                            line-height: 30px;
                        }
                        span{
                            display: block;
                            width: 100px;
                            height: 30px;
                            line-height: 30px;
                            margin: 0 auto;
                            text-align: center;
                            border: 1px solid rgb(66, 66, 189);
                            border-radius: 15px;
                        }
                        span:hover{
                            background: rgb(80, 80, 184);
                            color: white;
                        }
                    }
                }
                li:hover .wis_two{
                    display: block;
                }
            }
        }
        .navOne:hover{
            color: blue;
            border-bottom: 5px solid rgb(59, 59, 223);
        }
        .navOne:hover .wisdom{
            display: block;
        }
    } 
    .ss{
        height: 34px;
        margin-left: 150px;
        background-color: #fafafa;
        border: 1px solid #fafafa;
        border-radius: 2px;
    }
    .navss{
        position: relative;
        left: -32px;
        top: 2px;
    }
    .inCart{
        margin-top: 7px;
        margin-left: -20px;
    }
    .the_contact{
        width: 40px;
        height: 40px;
        overflow: hidden;
        .the_contact_one{
            width: 40px;
            height: 40px;
        }
        .the_contact_one{
            width: 40px;
            height: 40px;
        }
    }
    .the_contact:hover .the_contact_one{
        display: none;
    }
}




// 列表 list
.list{
    width: 100%;
    background: #F6F4FE;
    .lists{
        width: 1190px;
        display: flex;
        margin: 50px auto 0;
        padding-top: 40px;
        padding-bottom: 30px;
        justify-content: space-between;
        border-bottom: 1px solid gray;
        ul{
            h4{
                font-size: 14px;
                margin-bottom: 20px;
            }
            li{
                line-height: 30px;
                font-size: 12px;
                color: rgb(63, 59, 59);
            }
            li:hover{
                text-decoration: underline;;
            }
        }
    }
}




// footer
.foo{
    width: 100%;
    background-color: #F6F4FE;
}
.footer{
    width: 1190px;
    height: 82px;
    font-size: 12px;
    color: #868686;
    line-height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .foo_one{
        float: left;
        padding-left: 12px;
        a{
            color: #868686;
        }
        a:hover{
            color:rgb(92, 92, 224);
        }
    }
    .foo_two{
        float:right;
        a{
            color: #868686;
        }
        a:hover{
            color:rgb(92, 92, 224);
        }
    }
    .foo_three{
        a:first-of-type{
            color: #868686;
        }
        a:last-of-type{
            color: rgb(92, 92, 224);
        }
        b{
            font-weight: 300;
        }
        .foo_three_img{
            float: right;
            margin-top: 10px;
            width: 30px;
            height: 30px;
            overflow: hidden;
            cursor: pointer;
            img:last-of-type{
                display: block;
                margin-top: -292px;
                margin-left: -116px;
            }
        }
        .foo_three_img:hover img:first-of-type{
            display: none;
        }
        .foo_three_img:hover{
            overflow: visible;
        }
        .foo_three_img:hover img:last-of-type{
            margin-top: -235px;
        }
    }
}

