//导入公共样式
@import 'public';

// 导航栏  header 

.header{
    width: 1190px;
    height: 85px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    .logo{
        display: block;
        width: 85px;
        height: 26px;
        padding-left: 30px;
    }
    .nav {
        height: 85px;
        display: flex;
        margin-left: 40px;
        .navOne{
            height: 85px;
            font-size: 14px;
            line-height: 85px;
            padding: 0 25px;
            color: #333333;
            font-weight: 700;
            text-align: center;
            box-sizing: border-box;
            z-index: 100;
            .wisdom{
                margin-left: -25px;
                background:  rgb(241, 232, 232);
                font-weight: 400;
                display: none;
                position: relative;
                b{
                    font-weight: 100;
                    color: black;
                }
                .wis_one{
                    width: 240px;
                    height: 160px;
                    background-color: white;
                    position: absolute;
                    top: 85px;
                    right: 347px;;
                    z-index: 10;
                    display: none;
                    a{
                        display: inline-block;
                        width: 116px;
                        font-size: 12px;
                        height: 16px;
                        text-align: left;
                        line-height: 16px;
                        text-indent: 25px;
                    }
                    .wis_one_one{
                        display: block;
                        margin-top: 20px;
                    }
                    .wis_one_two{
                        text-align: left;
                        width: 75px;
                    }
                    a:hover{
                        color: blue;
                    }

                }
                li{
                    line-height: 40px;
                    text-align: center;
                }
                li:hover b{
                    color:blue;
                }
                li:hover{
                    background-color: white;
                }
                li:hover .wis_one{
                    display: block;
                }
                .wis_two{
                    position: absolute;
                    top: 1px;
                    left: 123px;
                    width: 540px;
                    height: 400px;
                    background-color: white;
                    color: black;
                    text-align: left;
                    display: none;
                    .wis_two_one{
                        display: block;
                        color: blue;
                        text-align: left;
                        padding-left: 50px;
                    }
                    .wis_two_two{
                        display: inline-block;
                        width: 130px;
                        height: 30px;
                        font-size: 12px;
                        text-align: center;
                    }
                    img{
                        display: block;
                        position: absolute;
                        top: 220px;
                        left: 70px;
                    }
                    a:hover{
                        color: blue;
                    }
                    .wis_box{
                        width: 200px;
                        height: 100px;
                        position: absolute;
                        top: 250px;
                        left: 320px;
                        margin: 0 auto;
                        h2{
                            text-align: center;
                            line-height: 40px;
                        }
                        p{
                            text-align: center;
                            line-height: 30px;
                        }
                        span{
                            display: block;
                            width: 100px;
                            height: 30px;
                            line-height: 30px;
                            margin: 0 auto;
                            text-align: center;
                            border: 1px solid rgb(66, 66, 189);
                            border-radius: 15px;
                        }
                        span:hover{
                            background: rgb(80, 80, 184);
                            color: white;
                        }
                    }
                }
                li:hover .wis_two{
                    display: block;
                }
            }
        }
        .navOne:hover{
            color: blue;
            border-bottom: 5px solid rgb(59, 59, 223);
        }
        .navOne:hover .wisdom{
            display: block;
        }
    } 
    .ss{
        height: 34px;
        margin-left: 150px;
        background-color: #fafafa;
        border: 1px solid #fafafa;
        border-radius: 2px;
    }
    .navss{
        position: relative;
        left: -32px;
        top: 2px;
    }
    .inCart{
        margin-top: 7px;
        margin-left: -20px;
    }
    .the_contact{
        width: 40px;
        height: 40px;
        overflow: hidden;
        .the_contact_one{
            width: 40px;
            height: 40px;
        }
        .the_contact_one{
            width: 40px;
            height: 40px;
        }
    }
    .the_contact:hover .the_contact_one{
        display: none;
    }
}


//轮播图 banner
.banner{
    width: 100%;
    height: 420px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    #app-7{
        margin: auto;
        position: absolute;
        width: 1680px;
        height: 420px;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        .v-slideshow-arrow i:first-child {
            left: 308px;
        }
        .v-slideshow-arrow i:last-child {
            right: 308px;
        }
    }
}

// 菜单栏  goods
.go{
    width: 100%;
    margin-top: -20px;
    padding-top: 20px;
    background-color: #f2f2f2;
}
.goods{
    width: 1190px;
    margin: 0 auto;
    height: 811px;
    position: relative;
    h2{
        font-size: 40px;
        text-align: center;
        line-height: 80px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .the_menu{
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid #999999;
        height: 40px;
    }
    .the_menu_txt{
        font-size: 18px;
        box-sizing: border-box;
        b{
            font-weight: 100;
            cursor: pointer;
        }
        b:hover{
            color: blue;
        }
    }
    #goods_two,#goods_three,#goods_fore,#goods_five,#goods_six{
        display: none;
        z-index: 2;
        position: absolute;
        top: 141px;
        left: 0;
        height: 690px;
    }
    .the_menu_txt_one_content{

        .the_menu_txt_one_content_one{
            width: 500px;
            height: 580px;
            margin-top: 50px;
            padding-top: 20px;
            background-color: rgba(241, 232, 232, 0.863);
            box-sizing: border-box;
            float: left;
            transition: all 1s;
            img{
                width: 460px;
                height: 460px;
                display: block;
                margin: 0 auto;
                transition: all 1s;
            }
            h4{
                text-align: center;
                line-height: 40px;
                font-size: 18px;
                margin-top: 20px;
                font-weight: 500;
            }
            p{
                text-align: center;
                line-height: 30px;
                font-size: 14px;
            }
        }
        .the_menu_txt_one_content_one:hover{
            z-index: 1;
            border-bottom: 5px solid rgb(59, 59, 223);
            box-shadow: 0 0 20px 5px #bebcc3;
        }
        .the_menu_txt_one_content_one:hover img{
            transform: scale(1.09);
        }
        .the_menu_txt_one_content_two{
            width: 345px;
            height: 300px;
            margin-top: 50px;
            padding-top: 40px;
            background-color: white;
            box-sizing: border-box;
            float: left;
            transition: all 1s;
            img{
                width: 180px;
                height: 180px;
                display: block;
                margin:  auto;
                transition: all 1s;
            }
            h4{
                text-align: center;
                line-height: 30px;
                font-size: 18px;
                margin-top: 10px;
                font-weight: 500;
            }
            p{
                text-align: center;
                line-height: 30px;
                font-size: 14px;
            }
        }
        .the_menu_txt_one_content_two:hover{
            border-bottom: 5px solid rgb(59, 59, 223);
            box-shadow: 0 0 20px 5px #bebcc3;
        }
        .the_menu_txt_one_content_two:hover img{
            transform: scale(1.1);
        }
        #the_menu_txt_one_content_two_one{
            margin-top: 0;
            height: 280px;
            float: left;
            margin-right: 345px;
            background-color: rgb(252, 246, 246);;
            img{
                margin-top: -20px;
            }
        }
        #the_menu_txt_one_content_two_two{
            height: 300px;
            float: right;
            background-color: rgb(240, 230, 230);
        }
        #the_menu_txt_one_content_two_three{
            margin-top: -280px;
            height: 280px;
            float: right;
            background-color: rgb(228, 220, 220);
            img{
                margin-top: -20px;
            }
        }
    }
}


//排行 ranking
.ran{
    width: 100%;
    background-color: #f2f2f2;
    margin: 0 auto;
}
.ranking{
    width: 1190px;
    height: 775px;
    margin: 0 auto;
    margin-top: -20px;
    padding-bottom: 30px;
    background-color: hsl(0, 0%, 95%);
    position: relative;
    h2{
        font-size: 40px;
        text-align: center;
        line-height: 80px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .ran_one{
        margin: 0 auto;
        width: 1190px;
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid #999999;
        height: 40px;
    }
    .ran_one_txt{
        font-size: 18px;
        box-sizing: border-box;
        cursor: pointer;
        b{
            font-weight: 200;
        }
    }
    .ran_two{
        width: 1190px;
        margin: 50px auto 0;
        display: flex;
        justify-content: space-between;
        .ran_two_one{
            width: 382px;
            height: 554px;
            background-color: white;
            .ran_img_one{
                width: 346px;
                height: 346px;
                margin-top: 30px;
                margin-left: 10px;
                transition: all 1s;
            }
            .ran_img_two{
                position: relative;
                top: -365px;
                left: 15px;
            }
            h4{
                font-weight: 400;
                font-size: 16px;
                margin-top: -20px;
                text-align: center;
                line-height: 30px;
            }
            p{
                text-align: center;
                font-size: 12px;
                line-height: 30px;
            }
            span{
                display: block;
                margin: 10px auto 0;
                width: 200px;
                height: 40px;
                border: 1px solid blue;
                border-radius: 20px;
                color: blue;
                text-align: center;
                line-height: 40px;
            }
        }
        .ran_two_one:hover{
            box-shadow: 0 0 20px 5px #d6d5d8;
        }
        .ran_two_one a:hover img:first-of-type{
            transform: scale(1.1);
        }
    }
    #ran_three_two,#ran_three_three,#ran_three_fore,#ran_three_five,#ran_three_six,#ran_three_seven{
        position: absolute;
        display: none;
        top: 141px;
        left: 0;
        height: 690px;
    }
}

// 活动 activity
.activity{
    width: 1190px;
    margin: 60px auto 100px;
    .act_one{
        width: 612px;
        height: 533px;
        h1{
            margin-top: 45px;
        }
        p{
            margin-top: 25px;
            font-size: 14px;
            line-height: 20px;
        }
        .act_one_img{
            width: 612px;
            height: 378px;
            overflow: hidden;
            box-sizing: border-box;
            img{
                transition: all 1s;
            }
        }
        img:hover{
            z-index: 1;
            transform: scale(1.1);
        }
        .act_one_img:hover{
            box-shadow: 0 0 20px 5px #d6d5d8;
        }
    }

    .act_two{
        width: 612px;
        height: 533px;
        float: right;
        margin-top: -533px;
        h1{
            margin-left: 150px;
            margin-top: 31px;
        }
        p{
            margin: 10px 0 32px 150px;
            font-size: 14px;
            line-height: 20px;
        }
        .act_two_img{
            width: 612px;
            height: 378px;
            overflow: hidden;
            box-sizing: border-box;
            img{
                transition: all 1s;
            }
        }
        .act_two_img:hover{
            box-shadow: 0 0 20px 5px #d6d5d8;
        }
        img:hover{
            z-index: 1;
            transform: scale(1.1);
        }
    }
}

// 品牌咨询  information
.information{
    width: 1190px;
    margin: 0 auto 30px;
    h1{
        text-align: center;
        line-height: 50px;
        margin-bottom: 50px;
    }
    .in_one{
        width: 640px;
        padding-bottom: 5px;
        background: url(../img/beijing1.png) bottom left no-repeat;
        .in_img{
            width: 640px;
            height: 360px;
            overflow: hidden;
            img{
                transition: all 1s;
            }
            img:hover{
                z-index: 1;
                transform: scale(1.1);
            }
        }
        h2{
            margin-top: 20px;
            font-size: 28px;
            line-height: 40px;
        }
        p{
            font-size: 14px;
            line-height: 20px;
            margin-top: 30px;
            margin-bottom: 10px;
        }
    }
    .in_one a:hover{
        color: rgb(8, 8, 129);
    }
    .in_one:hover{
        background: url(../img/beijing1.png) bottom left repeat-x;
    }
    .in_two{
        width: 420px;
        margin-top: -500px;
        float: right;
        background: url(../img/beijing2.png) top left no-repeat;
        .in_two_a{
            display: block;
            float: right;
            color: rgb(8, 8, 129);
        }
        .in_two_one{
            height: 117px;
            padding-top: 32px;
            padding-bottom: 10px;
            background: url(../img/beijing1.png) bottom left no-repeat;
            h4{
                margin-bottom: 20px;
            }
            p{
                font-size: 12px;
            }
        }
        .in_two_one a:hover{
            color: rgb(8, 8, 129);
        }
        .in_two_one:hover{
            background: url(../img/beijing1.png) bottom left repeat-x;
        }
    }
}


// 品牌链接
.brandLinks{
    width: 1190px;
    margin: 0 auto;
    h1{
        text-align: center;
        line-height: 40px;
        margin-top: 20px;
    }
    .links{
        display: flex;
        justify-content: space-between;
        .links_one{
            width: 160px;
            height: 204px;
            i{
                display: block;
                width: 160px;
                height: 46px;
                background: url("../img/beijing3.png") top left no-repeat;
            }
            .links_one_img{
                width: 160px;
                height: 90px;
                background-color: #F6F4FE;
                img{
                    transition: all 1s;
                }
            }
            b{
                display: block;
                width: 160px;
                height: 46px;
                background: url("../img/beijing4.png") top left no-repeat;
            }
        }
        .links_one:hover img{
            transform: scale(1.2);
        }
    }
}

// 列表 list
.list{
    width: 100%;
    background: #F6F4FE;
    .lists{
        width: 1190px;
        display: flex;
        margin: 50px auto 0;
        padding-top: 40px;
        padding-bottom: 30px;
        justify-content: space-between;
        border-bottom: 1px solid gray;
        ul{
            h4{
                font-size: 14px;
                margin-bottom: 20px;
            }
            li{
                line-height: 30px;
                font-size: 12px;
                color: rgb(63, 59, 59);
            }
            li:hover{
                text-decoration: underline;;
            }
        }
    }
}

// footer
.foo{
    width: 100%;
    background-color: #F6F4FE;
}
.footer{
    width: 1190px;
    height: 82px;
    font-size: 12px;
    color: #868686;
    line-height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    .foo_one{
        float: left;
        padding-left: 12px;
        a{
            color: #868686;
        }
        a:hover{
            color:rgb(92, 92, 224);
        }
    }
    .foo_two{
        float:right;
        a{
            color: #868686;
        }
        a:hover{
            color:rgb(92, 92, 224);
        }
    }
    .foo_three{
        a:first-of-type{
            color: #868686;
        }
        a:last-of-type{
            color: rgb(92, 92, 224);
        }
        b{
            font-weight: 300;
        }
        .foo_three_img{
            float: right;
            margin-top: 10px;
            width: 30px;
            height: 30px;
            overflow: hidden;
            cursor: pointer;
            img:last-of-type{
                display: block;
                margin-top: -292px;
                margin-left: -116px;
            }
        }
        .foo_three_img:hover img:first-of-type{
            display: none;
        }
        .foo_three_img:hover{
            overflow: visible;
        }
        .foo_three_img:hover img:last-of-type{
            margin-top: -235px;
        }
    }
}